body {
    background-color: #FEDB25;
    padding-left: 20%;
    padding-right: 20%;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
}

.head-title {
    padding-top: 20px;
    display: flex;
    /* width: 100%; */
}

.header {
    top: 0;
    position: fixed;
    background-color: #ffffff;
    /* margin-top: 4px; */
    left: 20%;
    right: 20%;
    padding-bottom: 4px;
    /* position: relative; */
}

.top-line {
    border-top-left-radius: 6.3px;
    border-top-right-radius: 6.3px;
    background-color: #101214;
    width: 100%;
    height: 4px;
    left: 0px;
    top: 0px;
}

.title-name {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 24px;
}

.title-description {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

.cv {
    background-color: #FFFFFF;
    border-radius: 6.3px;
    width: 100%;
    margin: 0px auto 20px auto;
}

.container {
    padding-left: 48px;
    padding-right: 48px;
    padding-top: 150px;
    padding-bottom: 48px;
}

.img-avatar {
    width: 65px;
    height: 65px;
    border-radius: 50%;
}

.avatar {
    /* padding-left: 20px; */
    /* width: 40%; */
    /* padding-left: 40px; */
}

.row {
    padding-top: 38px;
    display: flex;
}

.xp-container {
    width: 58%;
}

.title {
    width: 60%;
}

.xp-container-title {
    font-family: Arial, Helvetica, sans-serif;
    color: #73808D;
    letter-spacing: 2px;
}

.xp-title {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 14px;
}

.xp-company {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

.xp-date {
    font-family: Arial, Helvetica, sans-serif;
    color: #73808D;
    font-size: 12px;
}

.xp-description {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
}

.xp {
    margin-bottom: 30px;
}

.xp span {
    display: block;
    margin-top: 5px;
}

.infos-container {
    padding-left: 20px;
}

.contact {
    font-family: Arial, Helvetica, sans-serif;
    color: #73808D;
    font-size: 14px;
}

.infos-container {
    width: 40%;
}

.infos-container span {
    display: block;
}

.info-title {
    font-weight: bold;
}

.infos {
    padding-bottom: 30px;
}

@media (max-width: 760px) {
    body {
        background-color: #FFFFFF;
        padding-left: 0%;
        margin-right: 0%;
    }
    .top-line {
        display: none
    }
    .cv {
        background-color: #FFFFFF;
        margin: 0px auto 0px auto;
    }
    .title {
        width: 100%;
    }
    .row {
        padding-top: 38px;
        display: block;
    }
    .head-title {
        display: inline-block;
    }
    .img-avatar {
        width: 40px;
        height: 40px;
    }
    .avatar {
        /* padding-left: 0px; */
        /* width: 40%; */
    }
    .xp-container {
        width: 100%;
    }
    .infos-container {
        padding-left: 0px;
    }
    .infos-container {
        width: 100%;
        text-align: center;
        background-color: #FEDB25;
        padding: 20px 40px 20px 40px;
        border-radius: 6.3px;
    }
    .infos-container span {
        color: #000000;
    }
    .title-name {
        font-size: 14px;
    }
    .title-description {
        font-size: 12px;
    }
    .head-title {
        display: flex;
    }
    .header {
        left: 0%;
        right: 0%;
        /* padding-bottom: 4px; */
        /* position: relative; */
    }
    .container {
        padding-top: 60px;
    }
}